.bg-oc{
    background-color: #ed9658 !important;
}
.ln-1{
    line-height: 0.5px;
}
.col-or{
    color:#ed9658 !important;
}
.bb-black{
    border-bottom: solid darkgray;
    border-bottom-width: medium;
    border-bottom-width: thick;
}
.tx-dec-no{
    text-decoration: none !important;
}
.ls-dec-no{
    list-style: none !important;
}
.border-none{
    border: none !important;
}
.sub-title{
    font-size: 21px !important;
}
.container{
    max-width: 96% !important;
}
w-100{
    width: 100% !important;
}
