@font-face {
    font-family: 'Work Sans';
    src:
    url('./css/Roboto-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./css/Roboto-BlackItalic.ttf')  format('truetype'),
    url('./css/Roboto-Bold.ttf')  format('truetype'),
    url('./css/Roboto-BoldItalic.ttf')  format('truetype'),
    url('./css/Roboto-Italic.ttf')  format('truetype'),
    url('./css/Roboto-Light.ttf')  format('truetype'),
    url('./css/Roboto-LightItalic.ttf')  format('truetype'),
    url('./css/Roboto-Medium.ttf')  format('truetype'),
    url('./css/Roboto-MediumItalic.ttf')  format('truetype'),
    url('./css/Roboto-Regular.ttf')  format('truetype'),
    url('./css/Roboto-Thin.ttf')  format('truetype'),
    url('./css/Roboto-ThinItalic.ttf')  format('truetype')
}
body{
    letter-spacing: 1px !important;
    font-family: 'Work Sans', sans-serif;
}
